@*@model IEnumerable <Objects.Person.MissingPerson>
@model IEnumerable <Objects.Person.ContactPerson>*@
@model Objects.Person.ContactPerson
@model Objects.Person.MissingPerson
@model Objects.Person.MissingContact
@{
    ViewBag.Title = "AddRelationship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddRelationship</h2>



