
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title justify-content-center">Choose a face:</h4>
        </div>
        <div id="facesModalBody" class="modal-body row imagetiles">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="closeButton">Close</button>
        </div>
    </div>
</div>