<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body row align-middle" id="modalBody">
            <div class="col-md-6" id="image-canvas" align="center">

            </div>
            <div id="personInformation" class="col-md-6 roomy-50" align="center">
                <button class="roundbtn btn btn-primary" id="analyzeButton"><span>Analyze picture</span></button>
            </div>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary" data-dismiss="modal" id="closeModal">Close</button>
        </div>
    </div>
</div>