<!DOCTYPE html>

<html>
<head>
</head>

<body>

    <div id="container">
        <video id="gum-local" autoplay playsinline></video>
        <button id="enableStream">Open camera baby</button>
        <button id="disableStream">Close camera baby</button>
    </div>

    <script src="../../Scripts/GetCameraFeed.js"></script>
</body>
</html>
