@{
    ViewBag.Title = "Send A Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/modal-spin.css">
<link rel="stylesheet" href="~/Content/sendpicture.css">

<body onload="start()" onunload="stop()">
    <div class="container flexbox p-top-100">
        <video id="video" style="width: 100%;" autoplay></video>
        <button id="captureButton" type="submit" class="child myButton" value=""></button>
    </div>

<div id="snapshotModal" class="modal fadeModal in " role="dialog" data-url="@Url.Action("SnapshotModalView", "CameraStream")">
    <div class="modal-content">
        <div class="modal-header">
            <h4>This is a header</h4>
        </div>
        <div class="modal-body row" id="modalBody">
            <div class="col-md-6">
                
            </div>
            <div id="personInformation" class="col-md-6">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="analyzeButton">Analyze picture</button>
            <button class="btn btn-primary" data-dismiss="modal" id="closeModal">Cancel</button>
        </div>
    </div>

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="~/Scripts/GetCameraFeed.js"></script>
    <script>
        var img;
        $('#captureButton').on('click', function () {
            var url = $("#snapshotModal").data('url');
            $.get(url,
                function(content) {
                    $("#snapshotModal").html(content);
                    var canvas = document.getElementById('canvas');
                    canvas.width = 250;
                    canvas.height = 250;
                    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                    img = canvas.toDataURL();
                    $('#snapshotModal').modal('show');
                    $('#analyzeButton').on('click', function () {
                        $("#personInformation").empty();
                        $("#personInformation").append('<div class="loader"></div>');
                        $.ajax({
                            url: '/CameraStream/CaptureSnapshot',
                            type: 'POST',
                            dataType: "json",
                            data: { 'imgBase64': JSON.stringify(img) },
                            success: function (data) {
                                $("#personInformation").empty();
                                $("#personInformation").append('<div>' + data.result +'</div>');
                            },
                            error: function () {
                                $("#personInformation").empty();
                                $("#personInformation").append('<div>An error has occured while processing the given image. We apologize for the inconvenience, please try again</div>');
                            }
                        });
                    });
                });

            $('#closeModal').on('click', function () {
                $("#snapshotModal").modal('hide');
            });
        });

    </script>
</body>

