<style>
    .myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100% !important;
        min-height: 100% !important;
    }

    .child {
        position: absolute;
        top: 90%; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .myButton {
        background: url(../../img/camera.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 100px;
        height: 100px;
    }

        .myButton:active /* use Dot here */ {
            background: url(../../img/camera.png) no-repeat;
        }

    .canvas {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 10;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film a person</title>
</head>

<body onload="start()" onunload="stop()">
    <div class="container">
        <video id="video" class="myVideo" style="display: block; margin: 0 auto; margin-top: 30px;" autoplay></video>
        <input id="button " type="submit" class="child myButton" value="" onclick="snapshot();">
        <canvas id="canvas" class="canvas" style="visibility:hidden"></canvas>
    </div>
    <script src="~/Scripts/GetCameraFeed.js"></script>
</body>
</html>
