<!DOCTYPE html>

<html>
<head>
</head>

<body>
    <div id="container">
        <video id="video" width="300" height="300" align="left" autoplay></video>
        <button id="enableStream" align="center" onclick="StartStreamCapturing()">Enable camera</button>
    </div>

    <script src="../../Scripts/GetCameraFeed.js"></script>
</body>
</html>
