<style>
    .myVideo {
        min-width: 50% !important;
        min-height: 50% !important;
        display: block;
        margin: 0 auto;
        object-fit: fill;
        padding-top: 5%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .child {
        position: absolute;
        top: 80%; /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
    }

    .video-container{
        position: relative;
        width: 500px;
        height: 500px;
    }

    .myButton {
        background: url(../../img/camera.png) no-repeat;
        cursor: pointer;
        border: none;
        width: 100px;
        height: 100px;
    }

        .myButton:active /* use Dot here */ {
            background: url(../../img/camera.png) no-repeat;
        }

    .div {
        resize: both;
        overflow: auto;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film a person</title>
</head>

<body onload="start()" onunload="stop()">
    <div class="container video">
        <video id="video" class="myVideo center" autoplay></video>
        <input id="button" type="submit" class="child myButton" value="">
    </div>
    <script src="~/Scripts/GetCameraFeed.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $('#button').on('click', function () {
            $('#snapshotModal').modal('show');
        });
    </script>
    <div id="snapshotModal" class="modal hide fade" role="dialog" data-url="@Url.Action("SnapshotModalView", "CameraStream")"></div>


</body>
</html>
