

<style>
    .modalCenter {
        top: 50% !important;
        transform: translateY(-50%) !important;
    }

    .imagetiles {
        margin: 5%;
    }
</style>


<div class="modal-dialog modalCenter">
    <div class="modal-content">
        <canvas id="canvas" class="canvas" style="visibility:hidden"></canvas>
        <input id="button1" type="submit" value="Take new picture">
        <input id="button2" type="submit" value="Analyze picture">
    </div>
</div>