
<div class="modal-dialog modalCenter" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Do you want to analyze this picture?</h4>
        </div>
        <div class="modal-body row  align-middle" id="modalBody">
            <div class="col-md-6">
                <canvas id="canvas"></canvas>
            </div>
            <div id="personInformation" class="col-md-6 roomy-50" align="center">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="analyzeButton">Analyze picture</button>
            <button class="btn btn-primary" data-dismiss="modal" id="closeModal">Cancel</button>
        </div>
    </div>
</div>