<div class="modal-dialog">
    <div id="modalContent" class="modal-content">
        <canvas id="canvas" class="canvas"></canvas>
        <div id="modalFooter" class="modal-footer">
        </div>
    </div>
</div>
