<style>
    .modalCenter {
        top: 50% !important;
        transform: translateY(-50%) !important;
    }

    .imagetiles {
        margin: 5%;
    }
</style>


<div class="modal-dialog modalCenter">
    <div id="modalContent" class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title justify-content-center">Choose a face:</h4>
        </div>
        <canvas id="canvas" class="canvas"></canvas>
        @*<input id="newPictureButton" style="display: block;" type="submit" value="Take new picture">
        <input id="analyzePictureButton" style="display: block;" type="submit" value="Analyze picture">*@
        <div id="modalFooter" class="modal-footer">
            
        </div>
    </div>
</div>
