<style>
    .canvas {
        width: 30%;
        height: 30%;
        display: block;
        margin: 0 auto;
        position: absolute;
    }

    .analyzeButton {
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: center;
    }

</style>

<div class="modal-dialog">
    <div id="modalContent" class="modal-content">
        <div class="modal-body" id="modalBody">
            <canvas id="canvas" class="canvas"></canvas>
            <input id="analyzePictureButton" class="analyzeButton" type="submit" value="Analyze picture" />
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="closeButton">Cancel</button>
        </div>
    </div>
</div>