@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hello there, upload a file</h1>
@using (Html.BeginForm("UploadFile", "ImageUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

        @ViewBag.Message

    </div>


}
