@{
    ViewBag.Title = "Smart Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="culmn">
    <!--Home page style-->
    <!--Home Sections-->
    <section id="hello" class="vilnius-banner bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home text-center">
                    <div class="contact_text">
                        <h1 class="text-white text-uppercase">Feel free to Contact Us</h1>
                        <h4 class="text-white text-uppercase">Smart ( ͡° ͜ʖ ͡° ) vision</h4>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section> <!--End off Home Sections-->
    <!--Call To Action Section-->
    <section id="action" class="action roomy-100">
        <div class="container">
            <div class="row">
                <div class="main_action text-center">
                    <div class="col-md-4">
                        <div class="action_item">
                            <i class="fa fa-map-marker"></i>
                            <h4 class="text-uppercase m-top-20">Address</h4>
                            <p>Vilnius University - Faculty of Mathematics and Informatics<br /> Vilnius - Lithuania </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="action_item">
                            <i class="fa fa-headphones"></i>
                            <h4 class="text-uppercase m-top-20">phone</h4>
                            <p>+370 61 23456</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="action_item">
                            <i class="fa fa-envelope-o"></i>
                            <h4 class="text-uppercase m-top-20">Email</h4>
                            <p>smartvisiontop@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
