@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="~/Content/Footer-Dark.css">
    <link rel="stylesheet" href="~/Content/Header-Dark.css">
</head>

<body style="background-color: #0C0404;">
    <div>
        <div class="header-dark" style="background-image:url('https://i.imgur.com/XAbdNgs.jpg');">
            <div class="container hero">
                <h1 class="text-center" style="color:#ffffff;">Find your loved ones.</h1>
                <div>
                    <div style="background-color:transparent;">
                        <p class="text-center" style="color:#ffffff;">
                            &nbsp; &nbsp; This application will help you to find the people that are gone without a trace. It does not matter if you are searching for a family member, neighbour or a known criminal that seems to have vanished as long as there
                            is at least one picture of the person "Protinga Vizija" is on the case of finding the missing person.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="header-dark" style="padding-bottom:83px;">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col" style="background:#f1f7fc;background-color:#ffffff;">
                            <div class="d-inline-flex">
                                <div>
                                    <h3 class="text-left" style="color:#000000;">How to add a missing person?</h3>
                                    <p class="text-justify" style="color:#252525;">
                                        Our users are able to add a person that has disappeared by clicking on the "Add a missing person" on the navigation bar at the top of the page. There a user will find a form that he will be able to fill and once the
                                        information is gather with a simple click of submit the missing person will be added to our list of missing people and we will instantly be looking for him/her.<br>
                                    </p>
                                </div>
                                <div>
                                    <h1 style="padding:60px;"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col" style="background:#f1f7fc;background-color:rgb(255,255,255);">
                            <div class="d-inline-flex">
                                <div>
                                    <h1 style="padding:60px;"></h1>
                                </div>
                                <div>
                                    <h3 class="text-right" style="color:#000000;">How will I know if a person is found?</h3>
                                    <p class="text-justify" style="color:#252525;">
                                        If the person you are looking for has already been added to the list of missing people you are able to find the list in the "Currently missing" tab of the web page. Once you are there find the person you need and take
                                        note of the ID. Afterwards, click on the "Add a contact person" button in the navigation bar and you will be redirected to a form to submit your contact information. Once the person is found you will get notifications
                                        to the email and phone number that you have provided.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col" style="background:#f1f7fc;background-color:rgb(255,255,255);">
                            <div class="d-inline-flex">
                                <div>
                                    <h3 class="text-left" style="color:#000000;">How does this work?</h3>
                                    <p class="text-justify" style="color:#252525;">
                                        Our method of finding the missing people relies on the software that was written by four passionate and tremendous software engineers and their cooperation with companies that are responsible of the city cameras. Once
                                        the software gets the feed from the cameras it is able to compare the faces of the missing people that have been submitted by the users with the faces of the people captured by the camera. If a missing person is
                                        spotted, appropriate actions are taken.
                                    </p>
                                </div>
                                <div>
                                    <h1 style="padding:60px;"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="background-color:#262626;">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h1></h1>
                    </div>
                    <div class="col-md-6 item text">
                        <h3 class="text-center" style="color:rgb(145,145,145);">Smart Vision</h3>
                        <p class="text-center" style="color:rgb(255,255,255);">If you have any questions, feel free to contact us at ouremail@ouremail.com</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h1></h1>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Smart Vision © 2018</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
