    .modalCenter {

		display: flex;
		/*vertical-align: middle;
		text-align:left;
		position:absolute;*/
    }

    .imagetiles {
        margin: 5%;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #1e3f5a; /* Marine Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .flexbox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
	
	.roundbtn {
        display:flex;
        height: 125px;
        width: 125px;
        border-radius: 50% !important;
        justify-content: center;
    }