<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdminWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <userSettings>
    <AdminWeb.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="ApiSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="FacesetToken" serializeAs="String">
        <value />
      </setting>
      <setting name="PostCode" serializeAs="String">
        <value />
      </setting>
      <setting name="HouseNo" serializeAs="String">
        <value />
      </setting>
      <setting name="Street" serializeAs="String">
        <value />
      </setting>
      <setting name="City" serializeAs="String">
        <value />
      </setting>
      <setting name="Country" serializeAs="String">
        <value />
      </setting>
      <setting name="BusId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsBus" serializeAs="String">
        <value>False</value>
      </setting>
    </AdminWeb.Properties.Settings>
  </userSettings>
</configuration>