<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title justify-content-center"></h4>
        </div>

        <div id="moreInformationBody" class="modal-body row imagetiles">
            <div class="col-md-6">

                <div class="form-group">
                    <label>First Name:</label>
                    <div id="name">

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <div id="surname">

                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth:</label>
                    <div id="dob">

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Seen On:</label>
                    <div id="lso">

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Seen Location:</label>
                    <div id="lsl">

                    </div>
                </div>
                <div class="form-group justify-content-center">
                    <label>Additional Information:</label>
                    <div id="adinfo">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div id="imageWrap">
                    </div>
                </div>

                <div class="form-group">
                    <label>Contact person email</label>
                    <div id="email">

                    </div>
                </div>
                <div class="form-group">
                    <label>Contact person phone number:</label>
                    <div id="phone">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="closeButton">Close</button>
        </div>
    </div>
</div>
