
@{
    ViewBag.Title = "Smart Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="hello" class="addmissing-banner bg-mega">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="contact_text">
                    <h1 class="text-white text-uppercase">Your submission has been successful. </h1>
                    <h4 class="text-white text-uppercase">Smart ( ͡° ͜ʖ ͡° ) vision</h4>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->