
<!--Home Sections-->

<section id="hello" class="home bg-mega">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="home_text">
                    <h4 class="text-white text-uppercase">Smart ( ͡° ͜ʖ ͡° ) vision</h4>
                    <h1 class="text-white text-uppercase">Find your loved ones.</h1>

                    <div class="separator"></div>

                    <h5 class=" text-uppercase text-white">
                        <em>
                            This application will help you to find the people that are gone without a trace.
                            It does not matter if you are searching for a family member, neighbour or a known criminal that seems to have vanished as long as there
                            is at least one picture of the person "Protinga Vizija" is on the case of finding the missing person.
                        </em>
                    </h5>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Home Sections-->
<!-------------------------------------------------------------------------------------------------------------------------------->
<!--About Sections-->
<section id="feature" class="ab_feature roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_ab_feature">
                <div class="col-md-6">
                    @*m-top-120*@
                    <!-- Head Title -->
                    <div class="head_title">
                        <h2>How to add a missing person?</h2>
                        <h5>
                            <em>
                                It is only through seeking that we find what we are looking for.
                            </em>
                        </h5>
                        <div class="separator_left"></div>
                    </div><!-- End off Head Title -->
                    <div class="ab_feature_content wow fadeIn m-top-40">
                        <p>
                            Our users are able to add a person that has disappeared by clicking on the "Add a missing person" on the navigation bar at the top of the page.
                            There a user will find a form that he will be able to fill and once the
                            information is gathered with a simple click of submit the missing person will be added to our list of missing people and we will instantly be looking for him/her.<br>
                        </p>
                        <div class="feature_btns m-top-30">
                            <a href="~/AddPerson/AddMissingPerson" class="btn btn-default text-uppercase">Add a Missing Person<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature_photo wow fadeIn sm-m-top-40">
                        <div class="photo_border"></div>
                        <div class="feature_img">
                            <img src="~/img/addaperson2(2).jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section>

<!-------------------------------------------------------------------------------------------------------------------------------->
<section id="feature" class="ab_feature roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_ab_feature">
                <div class="col-md-6">
                    <div class="feature_photo wow fadeIn sm-m-top-40">
                        <div class="photo_border"></div>
                        <div class="feature_img">
                            <img src="~/img/howwilliknow.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 " style="padding-left: 3%">
                    @*m-top-120*@
                    <!-- Head Title -->
                    <div class="head_title">
                        <h2>How will I know if a person is found?</h2>
                        <h5>
                            <em>
                                If you’re not careful enough, you can spend your whole life looking for what you’ve lost.
                            </em>
                        </h5>
                        <div class="separator_left"></div>
                    </div><!-- End off Head Title -->
                    <div class="ab_feature_content wow fadeIn m-top-40">
                        <p>
                            If the person you are looking for has already been added to the list of missing people you are able to find the list in the "Currently missing" tab of the web page.
                            Once you are there find the person you need and take note of the ID.
                            Afterwards, click on the "Add a contact person" button in the navigation bar and you will be redirected to a form to submit your contact information.
                            Once the person is found you will get notifications
                            to the email and phone number that you have provided.
                        </p>
                        <div class="feature_btns m-top-30">
                            <a href="~/Home/RegisterView" class="btn btn-default text-uppercase">Register<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section>
<!-------------------------------------------------------------------------------------------------------------------------------->
<!--Simple Section-->
<section id="simple" class="simple bg-grey roomy-80">
    <div class="container">
        <div class="row">
            <div class="main_simple text-center">
                <div class="col-md-12">
                    <h2>How does this work?</h2>
                    <p>
                        Our method of finding the missing people relies on the software that was written by four passionate and tremendous
                        software engineers and their cooperation with companies that are responsible of the city cameras. Once
                        the software gets the feed from the cameras it is able to compare the faces of the missing people that
                        have been submitted by the users with the faces of the people captured by the camera. If a missing person is
                        spotted, appropriate actions are taken.
                    </p>
                    <a href="~/Home/Contact" class="btn btn-default m-top-40">Contact Us <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Models section-->
<section id="teams" class="teams roomy-80">
    <div class="container">
        <div class="row">
            <div class="main_teams">
                <div class="col-md-12">
                    <div class="head_title text-left sm-text-center wow fadeInDown">
                        <h2>Meet our team</h2>
                        <h5><em>Behind the success of Smart Vision lies not a one-man work but the work of many creative and smart people.</em></h5>
                        <div class="separator_left"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!-- Used to be col-md-4 -->
                    <div class="team_item m-top-30">
                        <div class="team_img">
                            <img src="~/img/billr.jpg" alt="" />
                            <div class="team_caption">
                                <h4 class="">Arnas</h4>
                                <h5><em>Hackerman at Sharpy Bois</em></h5>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <!-- Used to be col-md-4 -->
                    <div class="team_item m-top-30">
                        <div class="team_img">
                            <img src="~/img/shook.jpg" alt="" />
                            <div class="team_caption">
                                <h4 class="">Tomas</h4>
                                <h5><em>Hackerman at Sharpy Bois</em></h5>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team_item m-top-30">
                        <div class="team_img">
                            <img src="~/img/onfire.jpg" alt="" />
                            <div class="team_caption">
                                <h4 class="">Deividas</h4>
                                <h5><em>Hackerman at Sharpy Bois</em></h5>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team_item m-top-30">
                        <div class="team_img">
                            <img src="~/img/hackerman.jpg" alt="" />
                            <div class="team_caption">
                                <h4 class="">Tomas</h4>
                                <h5><em>Hackerman at Sharpy Bois</em></h5>
                            </div>
                        </div>
                    </div>
                </div><!-- End off col-md-3 -->
            </div>
        </div>
    </div>
</section>

<!--Testimonial Section-->
<section id="testimonial" class="testimonial fix roomy-100">
    <div class="container">
        <div class="row">
            <div class="main_testimonial text-center">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="test_authour">
                                    <img class="img-circle" src="~/img/jonas.jpg" alt="" />
                                    <h6 class="m-top-20">Jonas Chairutdinovas</h6>
                                    <h5><em>Wow!</em> </h5>
                                </div>
                                <p class=" m-top-40">
                                    These guys are so amazing - their application even found me!
                                </p>
                            </div>
                        </div>
                        <div class="item active testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="test_authour">
                                    <img class="img-circle" src="~/img/bill.jpg" alt="" />
                                    <h6 class="m-top-20">Bill Gates</h6>
                                    <h5><em>The most handsome men in the world</em> </h5>
                                </div>
                                <p class=" m-top-40">
                                    I’ve just worked with Sharpy Bois last week. Uhm.
                                    I can say this is the best team that I have ever worked together.
                                    All of them are very, very professional and creative, their unbelieved
                                    plan made our concept become perfect. I recommend you to try one of
                                    their solutions yourself. Once again, thanks so much, Sharpy Bois. 5 stars for you!!
                                </p>

                            </div>
                        </div>
                        <div class="item testimonial_item">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="test_authour">
                                    <img class="img-circle" src="~/img/musk.jpg" alt="" />
                                    <h6 class="m-top-20">Elon Musk</h6>
                                    <h5><em>These guys are something out of this world!</em> </h5>
                                </div>
                                <p class=" m-top-40">
                                    We have only worked on one project together, but it was enough for me to see how extraordinary these
                                    four people were. I will definitely be looking forward to working with them in the future!
                                </p>

                            </div>
                        </div>

                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa fa-long-arrow-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <span class="slash">/</span>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa fa-long-arrow-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off Testimonial section -->
<!--Company section-->