<style>
    .modalCenter {
        top: 50% !important;
        transform: translateY(-50%) !important;
    }

    .imagetiles {
        margin: 5%;
    }
    .modal {
    }
    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
    }
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width:inherit;
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
    }

</style>


<div class="modal-dialog modalCenter" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title justify-content-center"></h4>
        </div>

        <div id="moreInformationBody" class="modal-body row imagetiles">
            <div class="col-md-6">

                <div class="form-group">
                    <label>First Name:</label>
                    <div id="name">

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <div id="surname">

                    </div>
                </div>
                <div class="form-group">
                    <label>Date of Birth:</label>
                    <div id="dob">

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Seen On:</label>
                    <div id="lso">

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Seen Location:</label>
                    <div id="lsl">

                    </div>
                </div>
                <div class="form-group justify-content-center">
                    <label>Additional Information:</label>
                    <div id="adinfo">
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="imageWrap" >

            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="closeButton">Cancel</button>
        </div>
    </div>
</div>
